/* 
Основная политра
Основной цвет текста-#757575 
Цвет заголовков-#212121
Цвет подписи-#FFFFFF
Цвет анимации - #2196f3
Цвет логотипа - #000000
 - #F5F4FA
 */

:root {
  --main-text-color: #757575;
  --header-color: #212121;
  --main-header-color: #ffffff;
  --animation-color: #2196f3;
  --logo-color: #000000;
  --bg-color: #f5f4fa;
  --animation-botton-color: #188ce8;
  --footer-bg-color: #2f303a;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--main-text-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
}

/* Все ссылки */
a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0;
}

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav .item:not(:last-child) {
  margin-right: 50px;
}

/* Логотип */
.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  color: var(--logo-color);

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-beginning {
  color: var(--animation-color);
}

/* Навигация страницы */
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

div {
  margin: 0;
}

p {
  margin: 0px;
}

.nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--header-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.nav:hover {
  color: var(--animation-color);
}

.nav-active {
  color: var(--animation-color);
}

/* Контакты */
.contacts {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.contacts:hover {
  color: var(--animation-color);
}
/* Секции */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Герой */
.hero {
  background-color: var(--logo-color);
  text-align: center;
}
h1 {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 0;
  color: var(--main-header-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  min-width: 200px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  cursor: pointer;
  /* border: 1px solid transparent; */
  border-radius: 4px;

  background-color: var(--animation-color);
  color: var(--main-header-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
}
.button:hover {
  background-color: var(--animation-botton-color);
}

h2 {
  margin: 0px;
}

/* Наши преимущества */
h3 {
  color: var(--header-color);
  margin: 0;
}

.attention {
  display: flex;
}

.attention-item {
  width: 270px;
}

.attention-item:not(:last-child) {
  margin-right: 30px;
}

.attention-header {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.attention-paragraph {
  width: 270px;

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */

.header {
  margin-bottom: 50px;

  color: var(--header-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.doing {
  display: flex;
}

.doing .item:not(:last-child) {
  margin-right: 30px;
}

/* Наша команда */
.team {
  background-color: var(--bg-color);
}

.header-team {
  margin-bottom: 50px;

  color: var(--header-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.cards {
  display: flex;
}

.cards-item {
  width: 270px;
  padding-bottom: 30px;

  background-color: var(--main-header-color);
}

.cards-item:not(:last-child) {
  margin-right: 30px;
}

.img-members {
  margin-bottom: 30px;
}

.cards-header {
  margin-bottom: 10px;

  color: var(--header-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.cards-paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Подвал сайта */
footer {
  padding-top: 75px;
  padding-bottom: 45px;
  background-color: var(--footer-bg-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--main-header-color);

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

address {
  display: block;
  margin-bottom: 9px;

  color: var(--main-header-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer-email {
  margin-bottom: 9px;
}

/* .footer-teleph {
  margin-bottom: 45px;
} */

.footer-contacts {
  color: rgba(100%, 100%, 100%, 60%);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Стили к portfolio.html */
.filter-button {
  /* border: 1px solid transparent; */
  border-radius: 4px;

  background-color: var(--bg-color);
  color: var(--header-color);

  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--animation-color);
  color: var(--main-header-color);
}

.gallery-item {
  width: 370px;
}

.gallery-header {
  color: var(--header-color);

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}
